<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <div class="content-1">
                    <form #registerRiderRequestForm="ngForm" (ngSubmit)="registerRiderRequest(registerRiderRequestForm)">

                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Name</mat-label>
                            <input matInput 
                            [(ngModel)]="rider.name"
                            name="name"
                            id="name"
                            placeholder="Name">
                            <mat-hint>Name</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>PreferredLocation</mat-label>
                            <input matInput 
                            [(ngModel)]="rider.preferredLocation"
                            name="preferredLocation"
                            id="preferredLocation"
                            placeholder="PreferredLocation">
                            <mat-hint>PreferredLocation</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>AvailableSpot</mat-label>
                            <input matInput 
                            [(ngModel)]="rider.availableSpot"
                            name="availableSpot"
                            id="availableSpot"
                            placeholder="AvailableSpot">
                            <mat-hint>AvailableSpot</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>CurrentFillSpot</mat-label>
                            <input matInput 
                            [(ngModel)]="rider.currentFillSpot"
                            name="currentFillSpot"
                            id="currentFillSpot"
                            placeholder="CurrentFillSpot">
                            <mat-hint>CurrentFillSpot</mat-hint>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>RiderStatus</mat-label>
                            <input matInput 
                            [(ngModel)]="rider.riderStatus"
                            name="riderStatus"
                            id="riderStatus"
                            placeholder="RiderStatus">
                            <mat-hint>RiderStatus</mat-hint>
                        </mat-form-field>
                        
                        <div align="end">
                            <button class="w-100" type="submit" *ngIf="isNewRider" mat-raised-button color="primary">Submit Request</button>
                            <button class="w-100" type="submit" *ngIf="!isNewRider" mat-raised-button color="primary">Update Request</button>
                        </div>
            
                    </form>
                </div>
            </div>

            <div class="col-6">
                <div class="content-2">
                    <div class="dropzone"
                    appDrag
                    (files) = "fileDropped($event)"
                    >
                        <div class="text-wrapper">
                            <div class="centered">
                                Drag and drop your file or 
                                <a (click)="selectFile.click()" class="browse-button">browse</a>
                                a file
                            </div>  
                        </div>
                    </div>
                    <input type="file" value="select" #selectFile
                    style="display: none;"
                    (change)="onFileSelected($event)"
                    >
                </div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="1" rowHeigh="1:1">
                            <mat-grid-tile>
                                <div style="position: relative">
                                    <span class="btn-remove-image" *ngIf="!isFileEmpty" (click)="removeImage()">x</span>
                                        <img [src]=fileHandle.url *ngIf="!isFileEmpty" width="200px" height="200px" >
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>