<mat-toolbar color="primary">
  <span>
    Timothy Full Stack Application
  </span>
  
  <span class="space-buttons"></span>
  <div class="mt-5">
    <button *ngIf="!isLoggedIn()" routerLink="/login" mat-raised-button color="accent" class="my-class">
      Login
    </button>
  </div>
  <div class="mt-5">
    <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
      Logout
    </button>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button mat-raised-button color="primary" routerLink="/rideRequest">Ride Request</button>
  <button mat-raised-button color="primary" routerLink="/registerRider">Register Rider</button>
  <button mat-raised-button color="primary" routerLink="/riderBoard">Rider Board</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/registerUser">Sign Up</button>
</mat-toolbar>
